
body {
  background: url("images/Cooley.gif");
  background-repeat: no-repeat;
  background-size: 100% 300px;
}


h1  {
  color:white;
  font-weight:500;
  text-align:left;
}

h2  {
  color:black;
  font-weight:500;
  text-align:left;
}


h3  {
  color:black;
  text-align:left;
}

h4 {
  color: Black;
  font-weight:400;
  text-align:left;
}

h5 {
  color:Black;
  font-weight:400;
  text-align:left;
}

a:link{
  color:Black;
}

a:visited{
  color:Black;
}

